{% extends 'base.html' %}

{% block content %}
    <!--Header Hero Section-->
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">How many hours of work will an item cost?</h1>
                <h2 class="subtitle">Calculate below.</h2>
            </div>
        </div>
    </section>
    <!-- Form -->
    <div class="box px-6 py-6 mx-5 my-5">
        <div class="columns">
            <div class="column is-three-quarters">
                <section class="column  is-four-fifths ">
                    <div class="content is-medium">
                        <p>Calculate the cost of an item you would like to purchase below, in terms of working hours.</p>
                    </div>
                    <form method="POST">
                        <!-- Purchasing item cost -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Purchase</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                        <span class="select">
                                        <select>
                                            <option>£</option>
                                        </select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <input class="input" type="number" name="purchase_cost_input" placeholder="Cost of item you wish to purchase">
                                    </p>
                                </div>  
                            </div> 
                        </div>
                        <!-- Salary field -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Salary</label>
                            </div>
                            <div class="field-body">
                                <div class="field has-addons">
                                    <p class="control">
                                        <span class="select">
                                        <select><option>£</option></select>
                                        </span>
                                    </p>
                                    <p class="control">
                                        <input class="input" type="number" name="salary_input" placeholder="Yearly Salary">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Hours field -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Hours Worked per Week</label>
                            </div>
                            <div class="field-body">
                                <div class="control">
                                    <input class="input" type="number" name="hours_input" placeholder="Hours per Week">
                                </div>
                            </div>
                        </div>
                        <!-- Submit -->
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <div class="control">
                                    <button class="button is-primary" name="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="column">
                {% if scroll %}
                <div class="tile notification is-danger">
                    <div id="something">
                        <p class="title">Cost of the Item in Hours:</p>
                        <p>{{ text_2 }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
    <!--Results from Form-->
    <section>
        <h1>PER HOUR WAGE: {{ text_1 }}</h1>
        <h1>Cost of Item in hours: {{ text_2 }}</h1>
    </section>

    {% if scroll %}
        <script>
            document.getElementById('{{ scroll }}').scrollIntoView();
        </script>
    {% endif %}

{% endblock %}