<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Purchasing Cost</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
</head>
<body>
  {% block content %}{% endblock %}
  <!-- Hey you! thanks for reading my code. I know, it's terrible and you can do a better job...-->
  <!-- Feel free to leave me some comments on improvements! Thanks-->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Purchasing Cost</strong> by <a href="https://www.linkedin.com/in/abditimer/">Abdi Timer</a>.
      </p>
    </div>
  </footer>
</body>